<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Community</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.6.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }



</script>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>Discover</h2>
            <hr>
            <div class="media" th:each="question : ${pageDtoList.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object image-rounded"
                             th:src="${question.user.photoUrl != null ? question.user.photoUrl : '/images/default-avatar.png'}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <!--                    <span th:text="${question.description}"></span><br>-->
                    <span class="text-desc"><span th:text="${question.comment_volume}"></span> comments .
                        <span th:text="${question.read_volume}"></span> views .
                        <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd HH:mm')}"></span> create.</span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDtoList.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDtoList.showPrevious}">
                        <a th:href="@{/(page=${pageDtoList.page - 1},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageDtoList.pages}" th:class="${pageDtoList.page == page}? 'active' : ''">
                        <a th:href="@{/(page=${page},search=${search},tag=${tag},sort=${sort})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pageDtoList.showNext}">
                        <a th:href="@{/(page=${pageDtoList.page +1 },search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDtoList.showLastPage}">
                        <a th:href="@{/(page=${pageDtoList.totalPage},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Popular trend</h4>
                <a th:each="tag : ${tags}" th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}"
                   th:text="${tag}" class="community-tag"></a>
            </div>
        </div>
    </div>
</div>

<div class="footer" th:insert="~{footer :: foot}"></div>
</body>
</html>